/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*TASK: search for desired fonts*/

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #48688d;
    font-family: 'Cambay', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Cambay', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: larger;
    text-align: center;
}

h1 strong {
    font-weight: 900;
}

p {
    font-size: medium;
}


/* Header */
header {
    background-color: #cfcccc;
    padding: .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 2px #a0b1c1;
    display: flex;
    justify-content: space-between;
}

/*TASK: Review colors and adapt to suit clients color palate*/

#logo {
    display: flex;
    order: -1;
    width: 75px;
    height: 75px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 0px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

#menu>li {
    margin-bottom: 1em;
    text-align: center;
}

.active {
    border-bottom: 1px solid #48688d;
}

.fa-solid {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #cfcccc;
    width: 100%;
    left: 0px;
    padding: 0 1rem;
    box-shadow: 0 2px 2px#48688d;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 100px;
    width: 100%;
    align-content: space-between;
}

#background-index {
    height: auto;
    background: fixed;
    background-image: url("../images/Crane-lift-supervised-altered-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200vh;
}

#heading {
    height: 250px;
    width: 100%;
}

#cover-text {
    background-color: #cfcccc;
    opacity: 0.8;
    bottom: 50px;
    width: 100%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text h1 {
    font-size: 350%;
}


.services {
    width: 100%;
    text-align: start;
    color: #cfcccc;
    padding: 20px 10px 20px 10px;
    background-color: #48688d;
    opacity: .9;
}

#services-multi {
    grid-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 300px 70px 50px 70px;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    border-radius: 25%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 25%;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25%;
    border: 2px solid;
}

.flip-card-front {
    padding-top: 50px;
    background-color: #cfcccc;
    color: #48688d;
    border-color: #48688d;
    box-shadow: 5px 5px #48688d;
    opacity: .85;
}

.flip-card-back {
    padding: 25px;
    background-color: #48688d;
    color: #cfcccc;
    transform: rotateY(180deg);
    border-color: #cfcccc;
    box-shadow: 5px 5px #cfcccc;
}

.flip-card1 {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    border-radius: 25%;
}

.flip-card-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 25%;
}

.flip-card1:hover .flip-card-inner1 {
    transform: rotateY(180deg);
}

.flip-card-front1,
.flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25%;
    border: 2px solid;
}

.flip-card-front1 {
    padding-top: 50px;
    background-color: #48688d;
    color: #cfcccc;
    border-color: #cfcccc;
    box-shadow: 5px 5px #cfcccc;
    opacity: .85;
}

.flip-card-back1 {
    padding: 25px;
    background-color: #cfcccc;
    color: #48688d;
    transform: rotateY(180deg);
    border-color: #48688d;
    box-shadow: 5px 5px #48688d;
}

#about-us-background {
    background: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../images/IMG-7085-altered.jpg);
    background-size: 75vh;
    background-color: #48688d;
}

.about-us {
    font-size: 300%;
    background-color: #48688d;
    color: #cfcccc;
    opacity: 0.8;
    bottom: 50px;
    width: 100%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

.info-1 {
    margin-top: 350px;
    padding: 25px;
    width: 80%;
    height: xxx;
    overflow: hidden;
    background: #cfcccc;
    color: #48688d;
    border: 2px #48688d;
    margin-left: 10%;
    box-shadow: 5px 5px #48688d;
}

.info-2 {
    margin-top: 190px;
    padding: 25px;
    width: 80%;
    height: xxx;
    overflow: hidden;
    background: #a0b1c1;
    color: white;
    border: 2px white;
    margin-left: 10%;
    box-shadow: 5px 5px white;
}

.info-3 {
    margin-top: 190px;
    padding: 25px;
    width: 80%;
    height: xxx;
    overflow: hidden;
    background: #48688d;
    color: #cfcccc;
    margin-bottom: 350px;
    border: 2px #cfcccc;
    margin-left: 10%;
    box-shadow: 5px 5px #cfcccc;
}

.info-1 h2, .info-2 h2, .info-3 h2{
    font-size: 125%;
    font-weight: bolder;
}

#contact-us-background {
    background: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../images/contact-us-image.jpg);
    background-size: 200vh;
    background-color: #48688d;
    opacity: 0.8;
}

#color{
    background-color: #48688d;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    width: 200px;
    height: 450px;
}

.contact-us {
    font-size: 300%;
    background-color: #48688d;
    color: #cfcccc;
    opacity: 0.8;
    bottom: 50px;
    width: 100%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#contact-us{
    color: #cfcccc; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;   
    padding: 0 5px;
    height: 475px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#message{
 height:150px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #48688d;
    color: #cfcccc;
}

/*Sign up*/ 
/*#signup { Taken from Love Running 
    background: url('../images/signup-image.webp'); 
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    /*background-size: cover;
    background-position: 75%;
    flex-grow: 1; 
    height: 800px;
    width: 100%;
    padding: 20px 10% 10%;
    display: flex;
    flex-wrap: wrap;
}

#signup-form {
    color: #fafafa;
    background-color: rgba(60,60,60,0.6);
    padding: 30px;
}

#signup-form > h2 {
    color: #fafafa;
    padding-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;   
    padding: 0 5px;

    /*color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;

    /*border-radius: 2px;
    background-color: #454b1b;
    color: #fafafa;
    font-size: 100%;
    padding: 15px 32px 15px 32px;
    top: 20px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
}*/

footer {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #48688d;
}

footer h4 {
    color: #cfcccc;
    font-size: medium;
}

/*media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {


    #menu {
        font-size: 150%;
    }

    #cover-text h1, .about-us, .contact-us {
        font-size: 250%;
    }

    #about-us-background {
        background-size: 105vh;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    #cover-text h1, .about-us, .contact-us {
        font-size: 300%;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    #background-index {
        background-size: 110vw;
    }

    #cover-text h1, .about-us, .contact-us {
        font-size: 350%;
    }

    #about-us-background {
        background-size: 145vh;
    }

}

@media screen and (min-width: 1200px) {


    #background-index {
        background-size: 120vw;
    }

    #cover-text h1, .about-us, .contact-us {
        font-size: 400%;
    }
    
    #about-us-background {
        background-size: 185vh;
    }
}