/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*TASK: search for desired fonts*/

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */

body {
    min-height: auto;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #48688d;
    font-family: 'Cambay', sans-serif;
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Cambay', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 150%;
    text-align: center;
}

h1 strong {
    font-weight: 900;
}

p {
    padding-top: 5px;
    font-size: 100%;
}

#hidden {
    display: none;
}


/* Header */
header {
    background-color: #cfcccc;
    padding: .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 2px #a0b1c1;
    display: flex;
    justify-content: space-between;
}


#logo {
    display: flex;
    order: -1;
    width: 75px;
    height: 75px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 0px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

#menu>li {
    margin-bottom: 1em;
    text-align: center;
}

.active {
    border-bottom: 1px solid #48688d;
}

.fa-solid {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #cfcccc;
    width: 100%;
    left: 0px;
    padding: 0 1rem;
    box-shadow: 0 2px 2px#48688d;
    display: none;
    top: 100%;
    font-size: 200%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 100px;
    width: 100%;
    align-content: space-between;
}

/*index.html*/
.background {
    background: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #a0b1c1;
    background-size: cover;
    position: relative;
}

#index-photo {
    background-image: url(../images/index-unit-being-craned-in-v1.avif);
    background-position: 0 -25%;
}

#heading {
    height: 250px;
    width: 100%;
}

.cover-text {
    background-color: #cfcccc;
    opacity: 0.9;
    bottom: 50px;
    width: 100%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 300%;
    align-self: center;
}

/*index.html - Descriptive paragraph*/

#index-information {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.information-default {
    margin-top: 150px;
    padding: 25px;
    width: 80%;
    overflow: hidden;
    background: #48688d;
    color: white;
    border: 2px #48688d;
    box-shadow: 5px 5px #cfcccc;
    text-align: center;
}

/*index.html - Flip Cards*/
#services-multi {
    grid-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 100px 70px 50px 70px;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    border-radius: 25%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 25%;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25%;
    border: 2px solid;
}

.flip-card-front {
    padding-top: 50px;
    opacity: .85;
}

.flip-card-back {
    padding: 25px;
    transform: rotateY(180deg);
}

#light,
#light-1,
#light-2,
#light-3 {
    background-color: white;
    color: #48688d;
    border-color: #48688d;
    box-shadow: 5px 5px #48688d;
}

#dark,
#dark-1,
#dark-2,
#dark-3 {
    background-color: #48688d;
    color: white;
    border-color: #cfcccc;
    box-shadow: 5px 5px #cfcccc;
}

/*index.html - Design walkthrough video*/
#video-size {
    display: block;
    margin: 0 auto;
}

.video {
    padding-top: 60px;
    padding-bottom: 50px;
    width: 100%;
    height: 500px;
}

/*about-us.html*/

.about-us {
    font-size: 450%;
    background-color: #48688d;
    color: white;
    font-size: large;
    opacity: 0.8;
    bottom: 50px;
    width: 100%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#about-photo {
    background-image: url(../images/about-us-unit-being-placed-v1.avif);
    background-position: 0 50%;
}


/*Paragraphed information*/
.decsriptive-text {
    padding: 25px;
    width: 80%;
    overflow: hidden;
    margin-left: 10%;
}

.decsriptive-text h2 {
    font-size: 125%;
    font-weight: bolder;
}

#who-are-we {
    margin-top: 350px;
    background: white;
    color: #48688d;
    border: 2px #48688d;
    box-shadow: 5px 5px #48688d;
}

#what-do-we-do {
    margin-top: 190px;
    background: #a0b1c1;
    color: black;
    border: 2px black;
    box-shadow: 5px 5px black;
}

#why-us {
    margin-top: 190px;
    background: #48688d;
    color: white;
    margin-bottom: 350px;
    border: 2px #cfcccc;
    box-shadow: 5px 5px #cfcccc;
}

/*contact-us.html*/

#contact-details {
    margin-top: 100px;
    padding: 25px;
    width: 80%;
    overflow: hidden;
    background: #48688d;
    color: white;
    border: 2px #48688d;
    box-shadow: 5px 5px #cfcccc;
    text-align: center;
    font-size: larger;
}


#contact-photo {
    background-image: url(../images/contact-us-installed-v1.avif);
    background-position: 0 0;
}

#form-color {
    background-color: #48688d;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    color: white;
    width: 200px;
    height: 500px;
    margin: 100px 0 20px 0;
    padding: 10px 0px 50px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: larger;
}

#message {
    height: 150px;
    padding-bottom: 50px;
}

.submission-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #48688d;
    color: white;
}

/*404 and form complete*/
#form-complete ,
#layout-404 {
    margin: 100px auto;
    display: block;
}


/*Footer*/
footer {
    text-align: center;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #48688d;
    width: 100%;
}

footer h4 {
    color: white;
    font-size: medium;
}

/*media query: smaller phones (575px and down)*/
@media screen and (max-width: 575px) {
    
    .cover-text {
        font-size: 300%;
    }

    .flip-card {
        width: 200px;
        height: 250px;
    }

    h1,
    h2,
    h3 {
        font-size: 100%;
    }

    p {
        font-size: 100%;
    }

}

/*media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {
    .cover-text {
        font-size: 400%;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    h1,
    h2,
    h3 {
        font-size: 150%;
    }

    p {
        font-size: 150%;
    }

    .flip-card {
        width: 350px;
        height: 350px;
    }

    .cover-text {
        font-size: 450%;
    }

    footer h4 {
        font-size: larger;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    h1,
    h2,
    h3 {
        font-size: 150%;
    }

    p {
        font-size: 150%;
    }

    .cover-text {
        font-size: 500%;
    }

    .video {
        height: 650px;
    }

    #form-complete {
        margin-bottom: 590px;
    }

    #lost {
        margin-bottom: 590px;
    }

    footer h4 {
        font-size: 200%;
    }
}

@media screen and (min-width: 1200px) {
    .cover-text {
        font-size: 550%;
    }

    #form-complete {
        margin-bottom: 800px;
    }

    #lost {
        margin-bottom: 800px;
    }
}